
/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Varela+Round);


/*------------------------------------------------------------------
[ 0. RESET ]
-------------------------------------------------------------------*/

html {
  font-size:100%;
  sx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
a,
img,
strong,
sub,
b,
u,
i,
ul,
li,
form,
label {
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
  font-size:100%;
  margin:0;
  padding:0;
}

a:active,
a:hover,
a:focus,
input:active,
button:active,
button,
textarea:focus,
input:focus {
  outline:0;
  text-decoration: none;
}

ins {
  text-decoration:none;
}

input,
select,
button,
textarea {
  font-size:100%;
  margin:0;
  padding:0;
}

button,
input,
select,
textarea {
  font-size:100%;
  vertical-align:baseline;
  margin:0;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor:pointer;
  overflow:visible;
}

button[disabled],
input[disabled] {
  cursor:default;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary {
  display:block;
  margin:0;
  padding:0;
}

img {
  border:0;
}

ul,
ol{
  margin-bottom: 30px;
  list-style: none;
}

ol {
  margin: 0 0 0 10px;
  padding: 0;
  counter-reset: num;
}

ol li:before {
  content: counter(num) '. ';
  counter-increment: num;
}

ol ol li:before {
  content: counters(num, '.') ' ';
}


/*------------------------------------------------------------------
[ 1. LAYOUT ]
-------------------------------------------------------------------*/

body {
  font-family: 'Varela Round', sans-serif;
  font-size:19px;
  line-height:30px;
  color:#8c8c8c;
  overflow-x:hidden;
  padding-bottom: 125px;
}

.container{
  padding: 30px 0;
  position: relative;
}

[data-toggle]{
  cursor: pointer;
}


/*------------------------------------------------------------------
[ 2. TYPOGRAPHY ]
-------------------------------------------------------------------*/

/* [ 2.1 Fonts ] */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  color: #333;
  text-transform: uppercase;
}

h1,
.h1,
.home h1{
  font-size: 48px;
  margin: 0 0 35px;
}

h2,
.h2{
  font-size: 36px;
  margin: 0 0 70px;
}

h3,
.h3{
  font-size: 30px;
  margin: 0 0 30px;
  color: #343434;
}

h4,
.h4{
  font-size: 26px;
  margin: 0 0 30px;
}

h5,
.h5{
  font-size: 22px;
  margin: 0 0 30px;
}

h6,
.h6{
  font-size: 20px;
}

h4 small,
.h4 small,
h5 small,
.h5 small{
  margin-top: 12px;
}

h6 small,
.h6 small,
.mask:hover h6 small{
  display: block;
  font-size: 15px;
  line-height: 30px;
  color: #808080 !important;
}

h4[data-toggle]{
  background: url(../images/select-arrow.png) right 45% no-repeat;
  padding-right: 30px;
  display: inline-block;
  margin-bottom: 24px;
}

small{
  display: block;
  font-size: 16px;
  line-height: 32px;
  margin-top: 3px;
  color: #8c8c8c;
  text-transform: uppercase;
  transition: color .3s ease;
}

a:hover small{
  color: #e7543d;
}

small.text-muted{
  color: #b2b2b2;
}

.btn + small{
  margin-top: 12px;
}

p {
  margin-bottom:25px;
}

a{
  color:#e7543d;
  text-decoration:none;
}

a:hover,
a:active,
a:focus,
.inherit{
  color: #333;
}

.color,
a.text-primary:hover{
  color: #e7543d !important;
}

a,
i,
input,
textarea,
button,
.mask{
  transition: all .3s ease;
}


/* [ 2.2 Buttons ] */

.btn{
  color:#fff;
  line-height: 50px;
  height: 55px;
  font-size:19px;
  cursor:pointer;
  text-align:center;
  border-radius:3px;
  border: 3px solid transparent;
  display:inline-block;
  text-transform: none;
  padding:0 37px;
  position: relative;
  outline: none !important;
  transition: color .3s ease, background .3s ease, border-color .3s ease, opacity .3s ease;
}

.btn:active,
.btn:focus,
.btn:hover{
  box-shadow: none;
  color: #fff;
  border-color: transparent;
  text-decoration: none;
}

.btn.btn-default {
  background-color:#E7543D;
}

.btn.btn-default:hover {
  background-color: #FF6A53;
}

.btn.btn-primary{
  background-color: transparent;
  border-color: #E7543D;
  color: #e7543d;
}

.btn.btn-primary:hover{
  background-color: #e7543d;
  color: #fff;
}

.btn.btn-thn{
  padding: 0 25px;
}


/*------------------------------------------------------------------
[ 5. HEADER ]
-------------------------------------------------------------------*/

/* [ 5.1. Header Layout ] */

.header{
  position: relative;
  z-index: 11;
}

.header.navbar-fixed-top.sticky .container{
  padding: 25px 0 0;
}

.home .header > .container{
  padding-top:70px;
  padding-bottom: 97px;
}

.navbar-fixed-top{
  position: fixed !important;
  width: 100%;
  max-width: 100%;
}

.header.navbar-fixed-top{
  height: 90px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,.1);
}

.header.navbar-fixed-top + .wrapper{
  margin-top: 183px;
}

.logo{
  font-size: 38px;
  line-height: 34px;
  margin-top: -10px;
  color: #333;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}

.header.navbar-fixed-top .logo{
  margin-top: -15px;
}

/* [ 5.2. Menu ] */

.mainmenu{
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .04em;
  margin-bottom: 0;
}

.mainmenu .navbar-collapse{
  padding-right: 40px !important;
  -webkit-transform: translateZ(0);
  transition: all 0s ease;
}

.mainmenu .pclose{
  display: none;
}

.mainmenu ul{
  margin: 0;
}

.mainmenu li{
  margin: 0 0 0 21px;
}

.mainmenu li.cart-list,
.mainmenu li.cart-list-empty{
  margin-left: 35px;
}

.mainmenu ul ul li.current-menu-item>a{
  color: #e7543d !important;
}

.mainmenu a{
  transition: color .3s ease;
}

.mainmenu ul>li>a{
  color: #333;
  padding: 0;
  line-height: 40px;
}

.mainmenu a img{
  vertical-align: middle;
  display: inline-block;
  margin: -4px 4px 0 0;
}

.mainmenu ul>li.cart-list>a,
.mainmenu ul>li.cart-list-empty>a,
.mainmenu ul>li.cart-list-empty>a:hover{
  color: #8c8c8c !important;
  line-height: 40px;
  display: block;
  font-size: 16px;
}

.mainmenu ul>li>a:hover,
.mainmenu .dropdown-menu>li>a:hover,
.mainmenu ul>li>a:focus,
.mainmenu ul>li>a:active,
.navbar-fixed-top .mainmenu ul.navbar-nav > li.current-menu-item > a{
  color: #e7543d !important;
  background-color: transparent;
}

.mainmenu .navbar-nav{
  margin-right: -40px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background-color: transparent;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse{
  max-height: 9999px;
}

.navbar-toggle{
    margin: 3px 0 0 15px;
}

.navbar-toggle .icon-bar{
    background-color: #333;
    transition: background .3s ease;
}

.navbar-toggle:hover .icon-bar{
    background-color: #e7543d;
}

@media (min-width: 980px) {
  .mainmenu ul.navbar-nav > li.current-menu-item:after{
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #E7543D;
    content: '\0020';
    font-size: 0;
    display: block;
    left: 50%;
    top: -10px;
    margin-left: -14px;
  }

  .navbar-fixed-top .mainmenu ul.navbar-nav > li.current-menu-item:after{
    display: none;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-collapse.collapse{
    display:block !important;
    height:auto !important;
    padding-bottom:0;
    overflow:visible !important;
  }

  .no-mobile .dropdown:hover > ul,
  .no-mobile .cart-list:hover > .dropdown-menu{
    display: block;
  }
}


/*------------------------------------------------------------------
[ 17. HISTORY ]
-------------------------------------------------------------------*/

.historygraphic{
  min-height: 570px;
  margin-top: 20px;
}

.historygraphic h2{
  margin-bottom: 20px;
}

.hist-years {
  color:#b2b2b2;
  font-size:22px;
  margin-bottom: 65px;
}

.histcontent > *{
  display: none;
}

.historygraphic .separator {
  width:100%;
  height:34px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.historygraphic .separator:before{
  height: 1px;
  background-color: #E0E0E0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  content: '\0020';
}

.historygraphic .separator:after{
  width: 122px;
  height: 34px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -61px;
  background-color: #fff;
  display:block;
  content: '\0020';
}

.historygraphic .separator ins{
  border: 5px solid #E7543D;
  height: 34px;
  width: 34px;
  border-radius: 100%;
  display: block;
  margin: auto;
  position: relative;
  z-index: 2;
}


.histline {
  text-align:center;
  width:100%;
  position:relative;
  height:110px;
  font-size: 0;
}

.histlinewrap {
  position:absolute;
  left:50%;
  top:0;
  height:48px;
}

.histline ul {
  position:relative;
  margin: 0;
}

.histline li {
  display:inline-block;
  text-align:center;
  width:300px;
  transition:all .3s ease;
  cursor:pointer;
  line-height:48px;
}

.histline .farfar {
  font-size:36px;
  color:#e5e5e5;
}

.histline .far {
  font-size:36px;
  color:#b2b2b2;
}

.histline .active {
  font-size:48px;
  color:#e7543d;
}

.histline li:hover {
  color:#e7543d;
}


/*------------------------------------------------------------------
[ 20. CATALOG ]
-------------------------------------------------------------------*/

.products{
  padding-top: 30px;
}

.products + .container {
  padding:20px 0;
}

.product{
  margin-bottom: 65px;
}

.product,
.product-img{
  position:relative;
}

.product img{
  width: 100%;
  max-width: 300px;
}

.product h2,
.product h4{
  margin: 0 0 13px;
}

.product h2 a,
.product h4 a,
.product h6 a{
  color: #333;
}

.product h2 a:hover,
.product h4 a:hover,
.product h6 a:hover{
  color: #e7543d;
}

.product h6 {
  font-size: 17px;
  line-height: 26px;
  margin-bottom:8px;
}

.product.clearfix {
  margin: 65px 0;
  padding-bottom: 65px;
  border-bottom: 1px solid #8c8c8c;
}

.product.clearfix:first-child {
  margin-top:0;
}

.product.clearfix .sticker {
  top:25px;
}

.product.clearfix p{
  margin-bottom: 30px;
}

.product h2 {
    margin-bottom:30px;
}


/*------------------------------------------------------------------
[ 24. FOOTER ]
-------------------------------------------------------------------*/

footer {
  position:fixed;
  z-index: 2;
  left:0px;
  bottom:0px;
  height:auto;
  width:100%;
  background:#999;
  border-top: 25px solid #F1F1F1;
  background-color: #212121;
  color: #4c4c4c;
  font-size: 17px;
  line-height: 26px;
}

footer p {
  margin: 0;
}
footer a{
    color: #808080;
}
footer h5 a{
    color: #ccc;
}
footer a:hover{
    color: #e7543d;
}


/*------------------------------------------------------------------
[ 26. RESPONSIVE ]
-------------------------------------------------------------------*/

@media screen and (max-width: 1200px){
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-left: 20px;
    padding-right: 20px;
  }

  .row{
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 980px){
  .home .header{
    padding-bottom: 50px;
  }

  h1, .h1, .home h1{
    font-size: 44px;
  }

  .mainmenu .navbar-collapse{
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100% !important;
    min-height: 100%;
    background-color: #262626;
    padding: 105px 40px 20px;
    z-index: 19;
    overflow: auto;
    color: #808080;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
  }

  .mainmenu .pclose{
    display: block;
    top: 30px;
    right: 40px;
  }

  .mainmenu .navbar-nav{
    float: left !important;
  }

  .mainmenu .navbar-nav{
    width: 100%;
    margin: 0;
  }

  .mainmenu ul > li.current-menu-item > a{
    color: #e7543d;
  }

  .mainmenu .navbar-nav li{
    margin: 0 10px;
  }

  .mainmenu ul > li > a{
    color: #ccc;
  }

  .nav > li{
    float: none;
    display: block;
    position: relative;
    overflow: hidden;
  }

  footer{
    font-size: 16px;
  }

  footer [class*=col-]{
    overflow: hidden;
  }

  footer [class*=col-]{
    display: inline-block;
    vertical-align: top;
    float: none;
    width: 49.5%;
  }

  .port-thumb{
    display: none;
  }
}/* close max width 980 */

@media screen and (max-width: 767px) {
  h4,
  .h4{
    margin-bottom: 20px;
  }

  footer .container:last-child{
    padding: 20px 0;
  }

  footer [class*=col-]{
    margin-bottom: 30px;
    text-align: center;
  }

  footer [class*=col-]{
    display: inline-block;
    vertical-align: top;
    float: none;
    width: 100%;
  }
}/* close max width 767 */

@media screen and (max-width: 640px) {
  h1,
  .h1{
    font-size: 36px;
  }

  h2,
  .h2{
    font-size: 32px;
    margin-bottom: 30px;
  }

  h3,
  .h3{
    font-size: 26px;
  }

  h4,
  .h4{
    font-size: 22px;
  }

  .products > *{
    width: 100%;
  }

  .history{
    min-height: 520px;
  }

  .histcontent > *{
    padding: 30px 0 0;
  }

  .histline{
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }

  .hist-years{
    margin-bottom: 30px;
  }

  .product-list{
    margin-bottom: 70px;
  }

  .product{
    margin-bottom: 50px;
  }
}/* close max width 640 */

@media screen and (max-width: 480px) {
  .mainmenu .navbar-collapse{
    width: 320px;
    padding: 75px 25px 10px;
    text-align: left;
  }

  .navbar-toggle{
    margin-left: 0;
  }

  .header{
    padding-bottom: 20px;
  }

  .header > *{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .mainmenu > button,
  .mainmenu > ul{
    float: none !important;
    display: inline-block;
  }

  .histline{
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }
}/* close max width 480 */


/* Snow Day Code Styles */
.margin-top-40{
  margin-top: 40px;
}
.centered-text{
  text-align: center;
}
.product.clearfix .port-thumb p{
  margin: 0;
  padding: 0;
}
.product.clearfix .port-client h2{
  margin-bottom: 40px;

}
.tag-header{
  color: #333;
  width: 100%;
  display: block;
  font-size: 80%;
}
